<div class="about-container">
  <div class="about-date"><%= post.hDate %></div>
  <div class="about-body">
    <div class="about-body-title">
      <% if (post.link) { %>
      <a href="<%= post.link %>" target="_blank"><%=post.title%></a>
      <% } else { %>
      <span><%- post.title %></span>
      <% } %>
    </div>
    <% if (post.summary) { %>
    <div class="about-body-summary"><%= post.summary %></div>
    <% } %>
  </div>
</div>
